<!-- Netflix-style banner -->
<div class="banner">
  <div class="banner__background">
    @for(image of images; track image){<ng-container>
      <img
        [src]="image"
        alt="Banner Background"
        class="banner__image"
        [class.active]="images.indexOf(image) === currentIndex"
      /> </ng-container
    >}
  </div>
  <div class="banner__navigation">
    <button class="nav-btn prev" (click)="previousImage()">&lt;</button>
    <button class="nav-btn next" (click)="nextImage()">&gt;</button>
  </div>
  <div class="banner__fadeBottom"></div>
  <div class="banner__contents">
    <h1 class="banner__title">{{ currentMovie.title }}</h1>
    <div class="banner__buttons">
      <button class="button">See More</button>
    </div>
    <div class="banner__description">
      {{ currentMovie.description }}
    </div>
  </div>
</div>
